{% load static %}
{% comment %}
1) TODO: part 수정 후 맡은 부분 comment 적절히 달기
2) Bootstrap icon: 임시 icon 추후 통일필요
3) css 임시 style 수정 필요
{% endcomment %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- TODO: Web Page Name -->
    <title>모두의 기숙사</title>
    <!-- Main Page -->
    <link rel="stylesheet" href="{% static 'feedpage/main.css' %}">
    <!-- TODO: Bootstrap Icon -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="main_header" style="display: flex; justify-content:space-around;">
            <!-- TODO: logo image needed -->
            <a href="{% url 'showmain' %}" style="justify-content: center;"> SNU DORM </a>
            <div class="search" style="text-align: center;">
                <form action="{% url 'showmain' %}" method="get">
                    <input type="text" id="search_box">
                    <button type="submit" id="search_button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </form>
            </div>
            <!-- TODO: user info icon (accounts app) -->
            {% if user.is_authenticated %}
            <div>
                <a href="{% url 'usermessage' user.id %}" style="padding: 0 5px"><i
                        class="glyphicon glyphicon-envelope"></i></a>
                <a href="{% url 'useredit' user.id %}" style="padding: 0 5px"><i
                        class="glyphicon glyphicon-user"></i></a>
                <a href="{% url 'userinfo' user.id %}" style="padding: 0 5px">{{ user.get_username }}</a>
            </div>
            <!-- TODO: login/sinup (accounts app) -->
            {% else %}
            <div>
                <a href="{% url 'signup' %}">
                    <button>회원가입</button></a>
                <a href="{% url 'login' %}">
                    <button>로그인</button></a>
            </div>
            {% endif %}
        </div>
        <!-- TODO: temp banner css 수정 필요 -->
        <div style="padding: 10px">
            <ul class="nav nav-tabs">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'showboard' "minwon" "gong" %}"
                        type="button" aria-expanded="false"> 민원 게시판 <span class="caret"></span> </a>
                    <ul class="dropdown-menu" role="menu">
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'showboard' "life" "cobuy" %}"
                        type="button" aria-expanded="false"> 생필품 게시판 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'showboard' "freeboard" "#" %}"
                        role="button" aria-expanded="false"> 자유 게시판 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <main style="padding-top: 100px">
        <div class="page-content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <script src="{% static 'feedpage/comment.js' %}"></script>
</body>

</html>