.whole {
    width: 800px;
    min-height: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.index-div {
    position: relative;
    display: flex;
    height: 70px;
    padding-right: 20px;
    padding-left: 20px;
}

.index-board {
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    font-size: 19px;
    font-weight: 500;
}

.index-modify {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 20px;
}

.index-modify > a{
    color: #7f7f7f;
    font-size: 15px;
    margin-left: 5px;
    font-weight: 500;
}

.info {
    border-bottom: 0px solid !important;
    border : 1px solid #c4c4c4;
    padding: 20px;
}

.info-div {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}
.feed_status {
    background-color: #016aff;
    color: white;
    border-radius: 3px;
    min-width: 44px;
    min-height: 22px;
    display: flex;
    font-size: 12px;
    margin-right: 10px;
}

.feed_status_text {
    margin:auto;
}
.info-author {
    display: flex;
}
.author {
    color: #7f7f7f;
    margin-right: 10px;
}

.feed_author_name {
    color: #016aff;
    display: flex;
}

.index-m {
    margin-left: 8px;
    color: #016aff;
}

.img-m {
    width: 20px;
    height: auto;
}
.info-info {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.feed_like_count > a{
    color: #016aff;
}

.feed_comment_count {
    color: #ff6600;
    display: flex;
    margin-right: 10px;
}

.feed-like {
    display: flex;
    margin-right: 10px;
}

.img1 {
    width: 14px;
    height: auto;
    margin-right: 6px;
}
.img2 {
    width: 16px;
    height: auto;
    margin-right: 6px;
}

.feed_created_date {
    color: #7f7f7f;
}


/*본문*/
.content-div {
    margin-bottom: 30px;
}
.content-title {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 15px;
}

.content-content {
    font-size: 15px;
}
/* comment */

.comment {
    padding-top: 10px;
    border-top: 1px solid #c4c4c4;
    margin-bottom: 10px;
}
.recomment {
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding: 15px;
    background-color: #f0f0f0;
    width: 726px;
    margin-top: 10px;
}

.recomment-make {
    margin-top: 10px;
    display: none;
}

.comment-show {
    position: relative;
}
.c-a {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.c-c {
    font-size: 14px;
    color: #5a5a5a;
    margin-bottom: 5px;
}

.comment_created_date {
    font-size: 14px;
    color: black;
    margin-right: 10px;
}
.c-button {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: #5a5a5a;
}

.c-button > a {
    margin-left: 10px;
}

.c-like {
    display: flex;
}

.recomment-show {
    position: relative;
}

.comment-like, .recomment-like {
    display: flex;
    color: #016aff;
    font-size: 15px;
}

.deletecommentform , .editcommentform, .recomment-button {
    margin-left: 5px;
    cursor: pointer;
}

.recomment-button:hover {
    color: #016aff;
}
.deletecommentform:hover {
    color: #016aff;
}

.editcommentform:hover {
    color: #016aff;
}

.comment-make {
    height: 60px;
    position: relative;
    background-color: #f0f0f0;
    border-left : 1px solid #c4c4c4;
    border-right : 1px solid #c4c4c4;
    border-bottom : 1px solid #c4c4c4;
}

.comment-box {
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

.comment-makebox {
    border: 0px solid;
    background-color: #f0f0f0;
    font-size: 15px;
}

.noname {
    color: #7f7f7f;
    margin-right: 10px;
}

.noname-checkbox {
    border: 1px #7f7f7f;
}

.write-comment {
    border: 0px solid;
    font-size: 15px;
    color: #016aff;
}

.recomment-make {
    border: 0px solid !important;
}