
.whole {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    margin-top: 10px;
}

.left {
    margin-right: 5px;
}

.board {
    display: flex;
}

.title {
    position: relative;
    font-size: 16px;
    display: flex;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #c4c4c4;
}

.title > div {
    margin-top: auto;
    margin-bottom: auto;
}

.left > .head {
    width: 710px;
}
.head {
    display: flex;
    height: 65px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
}

.head-text {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.head > div{ 
    margin-top: auto;
    margin-bottom: auto;
}

.list {
    border-bottom: 0px solid !important;
    border: 1px solid #c4c4c4;
    width: 350px;
    margin-right: 5px;
    height: fit-content;
}

#free-list {
    width : 390px;
}

.life-list{
    display: flex;
    margin-bottom: 100px;
}

.one-feed {
    border-bottom: 1px solid #c4c4c4;
    padding: 17px;
}

.one-feed:hover {background-color:#f2f2f2;}

.free-feed {
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #c4c4c4;
}

.free-feed:hover {background-color:#f2f2f2;}

.free-div {
    display: flex;
    height: 50px;
}

.free-content {
    display: flex;
    min-width: 350px;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    word-spacing: 5px;
    font-size: 14px;
    color: black;
}

/* 상세 CSS */

.feed-title {
    color: black;
    font-size: 15px;
    margin-bottom: 3px;
}

.feed-content {
    color: #7f7f7f;
    font-size: 14px;
    margin-bottom: 3px;
}

.feed-detail {
    position: relative;
    display:flex; 
    word-spacing: 5px;
    font-size: 14px;
    color: #5f5f5f;
}

.count-div {
    display: flex;
    position: absolute;
    right: 0;
}

.feed-likes {
    color: #016aff;
    display: flex;
}

.feed-comments {
    display: flex;
    color: #ff6600;
    margin-left: 12px;
}

/*자유게시판 상세*/
.free-title {
    color: black;
    font-size: 14px;
}

.free-date {
    color: #7f7f7f;
    font-size: 14px;
}

/* 옵션 버튼 */

#life-head {
    margin-top : 15px;
    position:relative;
}
.button {
    display: flex;
    position: absolute;
    margin-right: 20px;
    right: 0;
    top: 50%;
    transform:translate(0,-50%);
    font-size: 14px;
    cursor: pointer;
}


#week_gong {
    margin-right: 10px;
}

#day_gong {
    color: #7f7f7f;
}

#life-button > div{
    margin-left: 20px;
}

#keep, #rent, #resell {
    color: #7f7f7f;
}

.panel-body {
    color: #016aff;
}

/* 댓글 코멘트 아이콘 */
.feed-detail-inner {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.img {
    margin-right: 5px;
}
.img1 {
    width: 13px;
    height: auto;
}

.img2 {
    width: 15px !important;
    height: auto;
}
