/* 게시판 이름 */

.title-div {
    display: flex;
    height: 65px;
}

.title-div > div {
    margin-top: auto;
    margin-bottom: auto;
    color: black;
}

.title-text {
    font-weight: 600;
    font-size: 22px;
}

#not_best {
    color:black;
    font-weight: 600;
}

/* 내용 인덱스 */
.index-div {
    display: flex;
    justify-content: space-around;
}


.whole-feed {
    display: flex;
    justify-content: space-around;
}
.board_name {
    display:flex;
    flex-direction:column;
}

.feed-p {
    display:flex;
    flex-direction: column;
}

.title-comment {
    display: flex;
}

.below {
    display: flex;
}

.page_numbers {
    display: flex;
}


/*베스트 글*/
.just-content {
    position: relative;
}

#show_best_lists {
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
}