{% extends 'base.html' %}
{% block content %}
    <div>쪽지함</div>
    <!-- 페이지 좌측에 현재 대화중인 목록 나타내는 부분-->
    {% for lastmessage in lastmessages %}
        {% if lastmessage.user_to.id == chat_from %}
            <a href="{% url 'chatroom' chat_from lastmessage.user_from.id %}">{{ lastmessage.user_from }} {{ lastmessage.content }} {{ lastmessage.created_at|date:"y.m.d" }}</a> </br>
        {% else %}
            <a href="{% url 'chatroom' chat_from lastmessage.user_to.id %}">{{ lastmessage.user_to }} {{ lastmessage.content }} {{ lastmessage.created_at|date:"y.m.d" }}</a> </br>
        {% endif %}
    {% endfor %}
</br></br></br></br></br></br></br></br></br>
    <!-- 대화창을 띄울 부분. 보낸 메시지와 받은 메시지는 아래와 같이 구분함. -->
    {% for message in messages|dictsortreversed:'created_at' %}
        {% if message.user_from.id == chat_from %}
            보낸 쪽지 {{ message.user_from }} : {{ message.content }} </br>
        {% else %}
            받은 쪽지 {{ message.user_from }} : {{ message.content }} </br>
        {% endif %}
    {% endfor %}


    <!-- 메시지 입력 창  -->
    <form action="{% url 'sendmessage' chat_from chat_to  %} "method="POST">
        {% csrf_token %}
        <input type="text" name="content" />
        <button type="submit">메시지 보내기</button>
    </form>

{% endblock content %}