{% extends 'base.html' %}
{% block content %}
    </br>
    </br>
    </br>
    </br>
    </br>
    <div class="info" style="margin:50px">
        <div>
            <span>로그인</span>
        </div>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div>
                 <label for="username">사용자 이름</label>
                <input name="username" type="text" id="username" required>
            </div></br>
            <div>
                <label for="password">비밀번호</label>
                <input name="password" type="password" id="password" required>
            </div></br>
            <button type="submit">로그인</button>
        </form>
    </div>
{% endblock content %}