{% extends 'base.html' %}
{% block content %}
    <div>쪽지함</div>
    <!-- 페이지 좌측에 현재 대화중인 목록 나타내는 부분-->
    {% for lastmessage in lastmessages %}
        {% if lastmessage.user_to.id == id %}
            <a href="{% url 'chatroom' id lastmessage.user_from.id %}">{{ lastmessage.user_from }} {{ lastmessage.content }} {{ lastmessage.created_at|date:"y.m.d" }}</a> </br>
        {% else %}
            <a href="{% url 'chatroom' id lastmessage.user_to.id %}">{{ lastmessage.user_to }} {{ lastmessage.content }} {{ lastmessage.created_at|date:"y.m.d" }}</a> </br>
        {% endif %}
    {% endfor %}



{% endblock content %}