{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% block content %}
<div class="background">
    <div class="form">
        <div class="nav">
            <div class="nav-title"><span>마이페이지</span></div>
            <div class="nav-list"><a href="{% url 'userinfo' user.id %}">내 정보</a></div>
            <div class="nav-list"><a href="{% url 'useredit' user.id %}">개인정보 변경</a></div>
            <div class="nav-list"><a href="{% url 'passwordedit' user.id %}">비밀번호 변경</a></div>
            <div class="nav-list"><a href="{% url 'usernotice' user.id %}">게시글 알림</a></div>
            <div class="nav-list"><a href="{% url 'messagebox' user.id %}">쪽지함</a></div>
        </div>
        <div class="info" id="pw-info">
            <div class="title">
                <span>비밀번호 변경</span>
            </div>
            <form method="POST" action="{% url 'passwordedit' user.id %}">
                {% csrf_token %}
                <div class="container">
                    <div class="password">
                        <div class="pw-field">
                            <span>현재 비밀번호</span>
                        </div>
                        <div class="pw-value">
                            <input class="pw-input" name="origin_password" type="password" required>
                        </div>
                    </div>
                    <div class="password">
                        <div class="pw-field">
                            <span>새로운 비밀번호</span>
                        </div>
                        <div class="pw-value">
                            <input class="pw-input" name="new_password" type="password" required>
                        </div>
                    </div>
                    <div class="password">
                        <div class="pw-field">
                            <span>새로운 비밀번호 확인</span>
                        </div>
                        <div class="pw-value">
                            <input class="pw-input" name="password_confirm" type="password" required>
                        </div>
                    </div>
                </div>
                <div class="edit">
                    <button type="submit">비밀번호 변경</button>
                </div>   
            </form>
        </div>
    </div>
</div>
{% endblock content %}