{% extends 'base.html' %}
{% block content %}
    <div class="info">
        <div>회원가입</div>
        {{ error }}<br>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <div>   
                이름</br>
                <input name="name" type="text" required>
            </div></br>
            <div>   
                아이디</br>
                <input name="user_id" type="text" required>
            </div></br>
            <div>
                비밀번호</br>
                <input name="password" type="password" required>
            </div></br>
            <div>
                비밀번호 확인</br>
                <input name="confirm_password" type="password" required>
            </div></br>
            <div>
                닉네임</br>
                <input name="nickname" type="text" required>
            </div></br>
            <div>
                이메일</br> 
                <input name="email" type="text" required> @snu.ac.kr
            </div></br>
            <div>
                생활관</br>
                <input name="building_category" type="text" required>
            </div></br>
            <div>
                동</br>
                <input name="building_dong" type="text" required>
            </div></br>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <input type="text" class="username_input" name="username" check_result="fail" required />
    <button type="button" class="id_overlap_button" onclick="id_overlap_check()">아이디 중복검사</button>
    <img id="id_check_sucess" style="display: none;">
{% endblock content %}
