<!-- TODO: 중복확인 버튼 작동 구현 -->

{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>도미토리</title>
    <link rel="stylesheet" href="{% sass_src 'accounts/css/signup.scss' %}" type="text/css">
    <link rel="stylesheet" href="{% sass_src 'accounts/css/reset.scss' %}" type="text/css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <div class="form">
        <div class="headline">
            <a href="{% url 'signup' %}">
                <img src="{% static 'accounts/img/logo-img.png' %}" alt="로고">
                <span>회원가입</span>
            </a>            
        </div>
        <form id="submit" method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="name-input">   
                <span class="head">이름</span>
                <input id="name" class="input-value long" name="name" type="text" placeholder="이름" required>
            </div>
            <div class="id-input">
                <span class="head">아이디</span>
                <span class="description">5자 이상의 아이디를 입력해 주세요.</span>
                <div class="signup-container">
                    <input id="user-id" class="input-value long user-id" name="user_id" check_result="fail" type="text" placeholder="아이디 (5자 이상)" minlength="5" maxlength="15" required>
                    <button class="id-check" type="button" onclick="id_db_check()">중복확인</button>
                    <div id="id-confirm" class="available-1 check-confirm">
                        <span>사용가능</span>
                    </div>
                </div>
            </div>
            <div class="pw-input">
                <span class="head">비밀번호</span>
                <span class="description">영어, 숫자, 특수문자가 포함된 8자 이상의 비밀번호를 입력해주세요.</span>
                <input id="pw1" class="input-value long" name="password" type="password" placeholder="비밀번호" required>
            </div>
            <div class="pw2-input">
                <span class="head">비밀번호 확인</span>
                <input id="pw2" class="input-value long" name="confirm_password" type="password" placeholder="비밀번호 확인" required>
            </div>
            <div class="nickname-input">
                <span class="head">닉네임</span>
                <span class="description">다른 유저와 겹치지 않는 닉네임을 입력해 주세요. (2-8자)</span>
                <div class="signup-container">
                    <input id="nickname" class="input-value long nickname" name="nickname" check_result="fail" type="text" placeholder="닉네임 (2-8자)" minlength="2" maxlength="15" required>
                    <button class="nk-check" type="button" onclick="nk_db_check()">중복확인</button>
                    <div id="nk-confirm" class="available-2 check-confirm">
                        <span>사용가능</span>
                    </div>
                </div>
            </div>
            <div class="email-input">
                <span class="head">이메일</span> 
                <input id="email" class="input-value short" name="email" type="text" placeholder="이메일" required><span> @ snu.ac.kr</span>
            </div>
            <!-- 
                TODO: CSS와 Javascript를 통한 반응형 구현
                1) toggle을 통해 옵션 값 숨기기/보여주기
                2) Javascript를 통해 기숙사 생활관 옵션 선택에 따라 동 옵션 추가하기
                3) 선택한 옵션 값을 selected(or selected-dong)에 표시해주기
            -->
            <div class="building">
                <span class="head">기숙사 동</span>
                <div class="building-category">
                    <div class="category-container">
                        <div class="category-option">
                            <input type="radio" class="radio" id="bachelor" value="bachelor" onclick="categoryChange(this)" name="building_category">
                            <label for="bachelor">학부생활관</label>
                        </div>
                        <div class="category-option">
                            <input type="radio" class="radio" id="master" value="master" onclick="categoryChange(this)" name="building_category">
                            <label for="master">대학원생활관</label>
                        </div>
                        <div class="category-option">
                            <input type="radio" class="radio" id="family" value="family" onclick="categoryChange(this)" name="building_category">
                            <label for="family">가족생활관</label>
                        </div>
                        <div class="category-option">
                            <input type="radio" class="radio" id="bk" value="bk" onclick="categoryChange(this)" name="building_category">
                            <label for="bk">BK생활관</label>
                        </div>
                        
                    </div>
                    <div class="selected">
                        생활관
                    </div>
                </div>
                
                <div class="building-dong">
                    <div class="dong-container" id="dong-container-id">
                        <div class="dong-option">
                            <input type="radio" class="radio" id="default" name="building_dong">
                            <label for="default">생활관을 선택해주세요</label>
                        </div>
                    </div>
                    <div class="selected-dong">
                        동
                    </div>
                </div>
            </div>
            <input type="button" class="signup" onclick="validateForm()" value="회원가입">
        </form>
    </div>
    <script src="{% static 'accounts/js/signup.js' %}"></script>
</body>
</html>