{% extends 'base.html' %}
{% block content %}
    <div class="info">
        <span>USER: {{ user.username }}</span>
        <form method="POST" action="{%url 'useredit' user.id %}">
            {% csrf_token %}
            <div>
                닉네임</br> 
                <input name="nickname" type="text" value="{{ user.profile.nickname }}" required>
            </div></br>
            <div>
                이메일</br> 
                <input name="email" type="text" value="{{ user.email }}" required>
            </div></br>
            <div>
                기숙사 동</br>
                <input name="building" type="text" value="{{ user.profile.building }}" required>
            </div></br>
            <button type="submit">수정하기</button>
        </form>
    </div>
{% endblock content %}
