{% extends 'base.html' %}
{% block content %}
    <div>
        <a href="{% url 'userinfo' user.id %}">내 정보</a>
        <a href="{% url 'useredit' user.id %}">개인정보 변경</a>
        <a href="{% url 'usernotice' user.id %}">게시글 알림</a>
        <a href="{% url 'messagebox' user.id %}">쪽지함</a>
    </div>
    
    <!-- '게시글 알림' 옆에 들어갈 count는 아래와 같이 {{count}}로 받음 -->
    <div> 확인하지 않은 알림 개수 : {{ count }}</div>

    
    {% for notice in notices %}
        {% if notice.type_info1 == '쪽지' %}
            <a href="{% url 'chatroom' notice.user_to.id notice.user_from.id%}">
        {% else %}
            <a href="{% url 'showfeed' notice.feed.board notice.feed.category notice.feed.id %}">
        {% endif %}
        {% if notice.noname %}
            익명의 회원님이
        {% else %}
            {{ notice.user_from.profile.nickname }}님이
        {% endif %}
        {% if notice.type_info1 == '쪽지' %}
            회원님에게 쪽지를 보냈습니다.
        {% else %}
            회원님의 {{ notice.type_info1 }}에
            {% if notice.type_info2 == '공감' %}
                {{ notice.type_info2 }}을 눌렀습니다.
            {% else %}
                {{ notice.type_info2 }}을 달았습니다.
            {% endif %}
        {% endif %}

        {{ notice.created_at|date:'y.m.d' }}
        <!-- notice.checked = True면 읽은것, False면 안읽은것 -->
        {{ notice.checked }}
        </br>
    </a>
    {% endfor %}

{% endblock content %}