.whole {
    width: 800px;
    min-height: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.index-div {
    position: relative;
    display: flex;
    height: 70px;
    padding-right: 20px;
    padding-left: 20px;
}

.index-board {
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    font-size: 19px;
    font-weight: 500;
}

.index-modify {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 20px;
}

.index-modify > a{
    color: #7f7f7f;
    font-size: 15px;
    margin-left: 5px;
    font-weight: 500;
}

.info {
    border-bottom: 0px solid !important;
    border : 1px solid #c4c4c4;
    padding: 20px;
}

.info-div {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}
.feed_status {
    background-color: #016aff;
    color: white;
    border-radius: 3px;
    min-width: 44px;
    min-height: 22px;
    display: flex;
    font-size: 12px;
    margin-right: 10px;
}

.feed_status_text {
    margin:auto;
}
.info-author {
    display: flex;
}
.author {
    color: #7f7f7f;
    margin-right: 10px;
}

.feed_author_name {
    color: #016aff;
    display: flex;
}

.index-m {
    margin-left: 8px;
    color: #016aff;
}

.img-m {
    width: 20px;
    height: auto;
}
.info-info {
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.feed_like_count > a{
    color: #016aff;
}

.feed_comment_count {
    color: #ff6600;
    display: flex;
    margin-right: 10px;
}

.feed-like {
    display: flex;
    margin-right: 10px;
}

.img1 {
    width: 14px;
    height: auto;
    margin-right: 6px;
}
.img2 {
    width: 16px;
    height: auto;
    margin-right: 6px;
}

.feed_created_date {
    color: #7f7f7f;
}


/*본문*/
.content-div {
    margin-bottom: 30px;
}
.content-title {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 15px;
}

.content-content {
    font-size: 15px;
    color: #5a5a5a;
    margin-top: 15px;
}


/* comment */

.comment {
    padding-top: 10px;
    border-top: 1px solid #c4c4c4;
    margin-bottom: 10px;
}
.recomment {
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding: 15px;
    background-color: #f0f0f0;
    width: 726px;
    margin-top: 10px;
}

.recomment-make {
    margin-top: 10px;
    display: none;
}

.comment-show {
    position: relative;
}
.c-a {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.c-c {
    font-size: 14px;
    color: #5a5a5a;
    margin-bottom: 5px;
}

.comment_created_date {
    font-size: 14px;
    color: black;
    margin-right: 10px;
}
.c-button {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: #5a5a5a;
}

.c-button > a {
    margin-left: 10px;
}

.c-like {
    display: flex;
}

.recomment-show {
    position: relative;
}

.comment-like, .recomment-like {
    display: flex;
    color: #016aff;
    font-size: 15px;
}

.deletecommentform , .editcommentform, .recomment-button, .editrecommentform{
    margin-left: 5px;
    cursor: pointer;
}

.recomment-button:hover {
    color: #016aff;
}
.deletecommentform:hover {
    color: #016aff;
}

.editcommentform:hover {
    color: #016aff;
}

.editrecommentform:hover {
    color: #016aff;
}

.comment-make {
    height: 60px;
    position: relative;
    background-color: #f0f0f0;
    border-left : 1px solid #c4c4c4;
    border-right : 1px solid #c4c4c4;
    border-bottom : 1px solid #c4c4c4;
}

.comment-box {
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

.recomment-makebox {
    width: 580px !important;
}

.comment-makebox {
    border: 0px solid;
    background-color: #f0f0f0;
    font-size: 15px;
    width: 640px;
}

.noname {
    color: #7f7f7f;
    margin-right: 10px;
}

.noname-checkbox {
    border: 1px #7f7f7f;
}

.write-comment {
    border: 0px solid;
    font-size: 15px;
    color: #016aff;
    cursor: pointer;
    background: none;
}


.recomment-make {
    border: 0px solid !important;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

.content-photo {
    margin-top: 20px;
}

.content-url, .content-purpose, .content-rent, .content-date {
    margin-bottom: 5px;
}

.content-url > a {
    color: #5a5a5a;
    text-decoration: underline;
}

/*댓글 수정*/

.comment-edit, .recomment-edit {
    height: 60px !important;
    position: relative;
    background-color: #f0f0f0;
    padding-right: 10px;
    padding-left: 10px;
}

.comment-edit > input {
    border: 0px solid;
    background-color: #f0f0f0;
    font-size: 15px;
    width: 580px;
}

.recomment-edit > input {
    border: 0px solid;
    background-color: #f0f0f0;
    font-size: 15px;
    width: 580px;
}


.comment-edit > button{
    border: 0px solid;
    font-size: 15px;
    color: #016aff;
    cursor: pointer;
    background: none;
}

.recomment-edit > button {
    border: 0px solid;
    font-size: 15px;
    color: #016aff;
    cursor: pointer;
    background: none;
}

.comment-edit > form {
    display: flex;
    justify-content: space-between;
}

.recomment-edit > form {
    display: flex;
    justify-content: space-between;
}


button, input[type="button"] {
    outline: none;
}