{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load sass_tags %}

<head>
    <link rel="stylesheet" href="{% sass_src 'accounts/css/chat.scss' %}">
</head>
<body>
    <div class="background">
        <div class="form">
            <!-- 페이지 좌측 nav -->
            <div class="nav"> 
                <div class="title">
                    <span>쪽지함</span>
                </div>
                <div class="list">
                    {% for lastmessage in lastmessages %}
                        {% if lastmessage.user_to.id == id %}
                            <a  href="{% url 'chatroom' chat_from lastmessage.user_from.id %}">
                                <div  class = "msg">
                                    <div class="top">
                                        <div class = "nickname">
                                            <span>{{ lastmessage.user_from.profile.nickname }}</span>
                                        </div>
                                        <div class = "date">
                                            <span>{{ lastmessage.created_at|date:"y.m.d" }}</span>
                                        </div>
                                    </div>
                                    <div class = "contents">
                                        <span>{{ lastmessage.content }}</span>
                                    </div>
                                </div>
                            </a>
                        {% else %}
                            <a  href="{% url 'chatroom' chat_from lastmessage.user_to.id %}">
                                <div  class = "msg">
                                    <div class="top">
                                        <div class = "nickname">
                                            <span>{{ lastmessage.user_to.profile.nickname }}</span>
                                        </div>
                                        <div class = "date">
                                            <span>{{ lastmessage.created_at|date:"y.m.d" }}</span>
                                        </div>
                                    </div>
                                    <div class = "contents">
                                        <span>{{ lastmessage.content }}</span>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- 페이지 우측 chatroom -->
            <div class = "chatroom">
                <div class="container">
                    <div class = "headline">
                        <span class = 'sender'>{{ friend }}</span>
                        <div><button style="display: none">삭제</button></div>
                    </div>
                    <div class = "chat">
                        {% for message in messages|dictsort:'created_at' %}
                            {% if message.user_from.id == chat_from %}
                                <div class = "send">
                                    <div class = "chat_con">
                                        <span>{{ message.content }}</span>
                                    </div>
                                    <div class = "chat_date">
                                        <span>{{ message.created_at|date:"y.m.d f" }}</span>
                                    </div>
                                </div>
                            {% else %}
                                <div class = "receive">
                                    <div class = "chat_date">
                                        <span>{{ message.created_at|date:"y.m.d f" }}</span>
                                    </div>
                                    <div class = "chat_con re">    
                                        <span>{{ message.content }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class = "sending">
                    <form action="{% url 'sendmessage' chat_from chat_to  %} "method="POST">
                        {% csrf_token %}
                        <div class = "typing" >
                            <div><input class="sendbox"  type="text" placeholder="쪽지 내용을 입력하세요(최대 200자)." name="content" maxlength="200"></div>
                            <button type="submit">전송</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
