{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load sass_tags %}
<head>
    <link rel="stylesheet" href="{% sass_src 'accounts/css/mypage.scss' %}">
</head>
<body>
    <div class="background">
        <div class="form">
            <div class="nav">
                <div class="nav-title"><span>마이페이지</span></div>
                <div class="nav-list"><a href="{% url 'userinfo' user.id %}">내 정보</a></div>
                <div class="nav-list"><a href="{% url 'useredit' user.id %}">개인정보 변경</a></div>
                <div class="nav-list"><a href="{% url 'passwordedit' user.id %}">비밀번호 변경</a></div>
                <div class="nav-list"><a href="{% url 'usernotice' user.id %}">알림</a></div>
                <div class="nav-list"><a href="{% url 'messagebox' user.id %}">쪽지함</a></div>
            </div>
            <div class="info" id="pw-info">
                <div class="title error-title">
                    <span>비밀번호 입력 오류</span>
                </div>
                <div class="container pw-error">
                    <span>{{ error }}</span>
                </div>
                <div class="edit">
                    <a href="{% url 'useredit' user.id %}"><input type="button" value="돌아가기"></input></a>
                </div>   
                
            </div>
        </div>
    </div>
</body>
{% endblock content %}