{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load sass_tags %}
<head>
    <link rel="stylesheet" href="{% sass_src 'accounts/css/mypage.scss' %}">
</head>
<body>
    <div class="background">
        <div class="form">
            <div class="nav">
                <div class="nav-title"><span>마이페이지</span></div>
                <div class="nav-list"><a href="{% url 'userinfo' user.id %}">내 정보</a></div>
                <div class="nav-list"><a href="{% url 'useredit' user.id %}">개인정보 변경</a></div>
                <div class="nav-list"><a href="{% url 'passwordedit' user.id %}">비밀번호 변경</a></div>
                <div class="nav-list"><a href="{% url 'usernotice' user.id %}">알림</a></div>
                <div class="nav-list"><a href="{% url 'messagebox' user.id %}">쪽지함</a></div>
            </div>
            <div class="info">
                <div class="title">
                    <span>개인정보 변경</span>
                </div>
                <form method="POST" action="{% url 'useredit' user.id %}" id="submit">
                    {% csrf_token %}
                    <div class="container">
                        <div class="name">
                            <div class="field">
                                <span>이름</span><div id="alert-name" class="infor"><span>i</span></div>
                            </div>
                            <div class="value">
                                <input id="name" class="input-box" name="name" type="text" value="{{ user.profile.name }}" required>
                            </div>
                        </div>
                        <div class="id">
                            <div class="field">
                                <span>아이디</span>
                            </div>
                            <div class="value">
                                <input class="input-box" id="no" name="user_id" type="text" placeholder="{{ user.username }}" readonly>
                            </div>
                        </div>
                        <div class="nk">
                            <div class="field">
                                <span>닉네임</span><div id="alert-nk" class="infor"><span>i</span></div>
                            </div>
                            <div class="value">
                                <input id="nickname" class="input-box nickname" name="nickname" type="text" value="{{ user.profile.nickname }}" check_result="fail" required spellcheck="false">
                            </div>
                            <button class="nk-check" type="button" onclick="nk_db_check()">중복확인</button>
                            <div id="nk-confirm" class="available-2 check-confirm">
                                <span>사용가능</span>
                            </div>
                        </div>
                        <div class="email">
                            <div class="field">
                                <span>이메일</span><div id="alert-email" class="infor"><span>i</span></div>
                            </div>
                            <div class="value">
                                <input id="email" class="input-box" name="email" type="text" value="{{ user.profile.email }}" spellcheck="false" required>
                                <span class="mail">@ snu.ac.kr</span>
                            </div>
                        </div>
                        <div class="building">
                            <div class="field">
                                <span>기숙사 동</span>
                            </div>  
                            <div class="value">
                                <div class="building input-section">
                                    <div class="building-category">
                                        <div class="category-container dropdown-container">
                                            <div class="category-option dropdown-option">
                                                <input type="radio" class="radio" id="bachelor" value="학부생활관">
                                                <label class="building-edit" for="bachelor">학부생활관</label>
                                            </div>
                                            <div class="category-option dropdown-option">
                                                <input type="radio" class="radio" id="master" value="대학원생활관">
                                                <label class="building-edit" for="master">대학원생활관</label>
                                            </div>
                                            <div class="category-option dropdown-option">
                                                <input type="radio" class="radio" id="family" value="가족생활관">
                                                <label class="building-edit" for="family">가족생활관</label>
                                            </div>
                                            <div class="category-option dropdown-option">
                                                <input type="radio" class="radio" id="bk" value="BK생활관">
                                                <label class="building-edit" for="bk">BK생활관</label>
                                            </div>
                                            
                                        </div>
                                        <div class="selected selected-common" id="selected">
                                            {{ user.profile.building_category }}
                                        </div>
                                    </div>
                                    <div class="building-default" id="default-dong">
                                        <div class="default-container dropdown-container">
                                            <div class="default-option dropdown-option">
                                                <input type="radio" class="radio" id="default" value="default">
                                                <label class="building-edit" for="default">생활관을 선택해주세요</label>
                                            </div>
                                        </div>
                                        <div class="selected-default selected-common">
                                            {{ user.profile.building_dong }}
                                        </div>
                                    </div>
                                    <div class="building-bachelor remove" id="bachelor-dong">
                                        <div class="bachelor-container dropdown-container">
                                            <div class="bachelor-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="906" value="906동">
                                                <label class="building-edit" for="906">906동</label>
                                            </div>
                                            <div class="bachelor-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="915" value="915동">
                                                <label class="building-edit" for="915">915동</label>
                                            </div>
                                            <div class="bachelor-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="919A" value="919A동">
                                                <label class="building-edit" for="919A">919A동</label>
                                            </div>
                                            <div class="bachelor-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="919B" value="919B동">
                                                <label class="building-edit" for="919B">919B동</label>
                                            </div>
                                            <div class="bachelor-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="919C" value="919C동">
                                                <label class="building-edit" for="919C">919C동</label>
                                            </div>
                                            <div class="bachelor-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="919D" value="919D동">
                                                <label class="building-edit" for="919D">919D동</label>
                                            </div>
                                            <div class="bachelor-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="921" value="921동">
                                                <label class="building-edit" for="921">921동</label>
                                            </div>
                                            <div class="bachelor-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="922" value="922동">
                                                <label class="building-edit" for="922">922동</label>
                                            </div>
                                            <div class="bachelor-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="923" value="923동">
                                                <label class="building-edit" for="923">923동</label>
                                            </div>
                                            <div class="bachelor-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="924" value="924동">
                                                <label class="building-edit" for="924">924동</label>
                                            </div>
                                            <div class="bachelor-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="925" value="925동">
                                                <label class="building-edit" for="925">925동</label>
                                            </div>
                                            <div class="bachelor-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="926" value="926동">
                                                <label class="building-edit" for="926">926동</label>
                                            </div>
                                        </div>
                                        <div class="selected-bachelor selected-common">
                                            {{ user.profile.building_dong }}
                                        </div>
                                    </div>
                                    <div class="building-master remove" id="master-dong">
                                        <div class="master-container dropdown-container">
                                            <div class="master-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="900" value="900동">
                                                <label class="building-edit" for="900">900동</label>
                                            </div>
                                            <div class="master-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="901" value="901동">
                                                <label class="building-edit" for="901">901동</label>
                                            </div>
                                            <div class="master-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="902" value="902동">
                                                <label class="building-edit" for="902">902동</label>
                                            </div>
                                            <div class="master-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="903" value="903동">
                                                <label class="building-edit" for="903">903동</label>
                                            </div>
                                            <div class="master-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="904" value="904동">
                                                <label class="building-edit" for="904">904동</label>
                                            </div>
                                            <div class="master-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="905" value="905동">
                                                <label class="building-edit" for="905">905동</label>
                                            </div>
                                            <div class="master-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="917" value="917동">
                                                <label class="building-edit" for="917">917동</label>
                                            </div>
                                            <div class="master-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="918" value="918동">
                                                <label class="building-edit" for="918">918동</label>
                                            </div>
                                        </div>
                                        <div class="selected-master selected-common">
                                            {{ user.profile.building_dong }}
                                        </div>
                                    </div>
                                    <div class="building-family remove" id="family-dong">
                                        <div class="family-container dropdown-container">
                                            <div class="family-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="931" value="931동">
                                                <label class="building-edit" for="931">931동</label>
                                            </div>
                                            <div class="family-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="932" value="932동">
                                                <label class="building-edit" for="932">932동</label>
                                            </div>
                                            <div class="family-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="933" value="933동">
                                                <label class="building-edit" for="933">933동</label>
                                            </div>
                                            <div class="family-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="934" value="934동">
                                                <label class="building-edit" for="934">934동</label>
                                            </div>
                                            <div class="family-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="935" value="935동">
                                                <label class="building-edit" for="935">935동</label>
                                            </div>
                                        </div>
                                        <div class="selected-family selected-common">
                                            {{ user.profile.building_dong }}
                                        </div>
                                    </div>
                                    <div class="building-bk remove" id="bk-dong">
                                        <div class="bk-container dropdown-container">
                                            <div class="bk-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="946A" value="946A동">
                                                <label class="building-edit" for="946A">946A동</label>
                                            </div>
                                            <div class="bk-option dropdown-option dong-option">
                                                <input type="radio" class="radio" id="946B" value="946B동">
                                                <label class="building-edit" for="946B">946B동</label>
                                            </div>
                                        </div>
                                        <div class="selected-bk selected-common">
                                            {{ user.profile.building_dong }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="password">
                            <div class="field">
                                <span>현재 비밀번호</span>
                            </div>  
                            <div class="value">
                                <input id="pw" class="input-box" name="origin_password" type="password" required>
                            </div>
                        </div>
                    </div>  
                    <div class="edit">
                        <input type="button" class="signup" onclick="validateForm()" value="개인정보 변경">
                    </div>   
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'accounts/js/user_edit.js' %}"></script>
</body>
{% endblock content %}
