{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'feedpage/new.css' %}">
</head>

<div class="info">
    {% if user.is_authenticated %}
        <div class = "whole">
            <!-- 게시판 이름 -->
            <div class="board_name"> 
                <div class = "name"> {{ board_name }} </div>
            </div>
            {% if board == 'minwon' or board == 'freeboard' %}
            <!-- Minwon, freeboard 게시판 -->
            <div class="minwon_or_free_new every-div">
                <form method="POST" class="new_form_create" enctype="multipart/form-data" action="{% url 'newfeed' board category %}">
                    {% csrf_token %}
                    <div id = "minwon_table">
                        <div class = "title-row">
                            <input name="title" type="text" size = "80" placeholder="제목을 입력해주세요." required>
                        </div>
                        <div class = "content-row">
                            <textarea name="content" type="text" placeholder="글 내용을 입력해주세요..." required></textarea>
                        </div>

                        <div class = "photo-zone" id ="thumbnail">
                        </div>

                        <div class = "write-row">
                            <div class ="photo-button">
                                <input class="photo" name = "photo[]" id="photo" accept=".jpg, .jpeg, .png" type="file" multiple>
                                <div class = "real-button">
                                    <img class = "img-photo" src="/static/img/photo.png">
                                </div>
                            </div>
                            <div class = "submit-button">
                                <input class = "noname-checkbox" name="noname" type="checkbox" id="noname{{ feed.id }}">
                                <label class = "noname" for="noname{{ feed.id }}">익명</label> 
                                <button class = "write-comment" type="submit">글쓰기</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        
            {% elif category == 'cobuy' %}
            <!-- Cobuy 공구 게시판 -->
            <div class="cobuy_board_new every-div">
                <form method="POST" enctype="multipart/form-data" action="{% url 'newfeed' 'life' 'cobuy' %}">
                    {% csrf_token %}
                    <div id = "cobuy_table">
                        <div class = "title-row">
                            <input name="title" type="text" placeholder="제목을 입력해주세요." required>
                        </div>
                        <div class = "price-row" >
                            <div class = "tr_title"> 가격</div>
                            <div>
                                <input name="price" type="text" placeholder="공구 품목의 가격을 입력하세요. ex) 425600" required>
                            </div>
                        </div>
                        <div class = "link-row">
                            <div class = "tr_title">링크</div>
                            <div>
                                <input name="url" type="text" placeholder="공구 품목의 링크를 넣어주세요." required>
                            </div>
                        </div>
                        <div class ="duedate-row" >
                            <div class = "tr_title">마감일</div>
                            <div>
                                <input name="duedate" id="edueDate" type="date" required>
                                <input name="uncertain" type="checkbox" id="euncertain2">
                                <label for="euncertain2">미정</label>
                            </div>
                        </div>

                        <div class = "description-row">
                            <div class = "description">설명</div>
                            <div>
                                <input name="content" type="text" placeholder="공구 내용과 연락수단을 적어주세요." required>
                            </div>
                        </div>
    
                        <div class = "photo-zone" id ="thumbnail">
                        </div>

                        <div class = "write-row">
                            <div class ="photo-button">
                                <input class="photo" name = "photo[]" id="photo" accept=".jpg, .jpeg, .png" type="file" multiple>
                                <div class = "real-button">
                                    <img class = "img-photo" src="/static/img/photo.png">
                                </div>
                            </div>
                            <div class = "submit-button">
                                <input class = "noname-checkbox" name="noname" type="checkbox" id="noname{{ feed.id }}">
                                <label class = "noname" for="noname{{ feed.id }}">익명</label> 
                                <button class = "write-comment" type="submit">글쓰기</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            {% elif category == 'rent' %}
            <!-- Rent 게시판 -->
            <div class="rent_board_new every-div"> 
                <form method="POST" enctype="multipart/form-data" action="{% url 'newfeed' 'life' 'rent' %}">
                    {% csrf_token %}
                    <div id = "rent_table">
                        <div class = "title-row">
                            <input name="title" type="text" placeholder="제목을 입력해주세요." required>
                        </div>
                
                        <div class = "purpose-row">
                            <div class = "purpose-title">목적</div>
                            <div class = "purpose-select">
                                <input name="purpose" type="checkbox" id="purpose" value="borrow" onclick="doOpenCheck(this);" required>
                                <label for="purpose">빌려줄게요</label>
                                <input name="purpose" type="checkbox" id="purpose" value="lend" onclick="doOpenCheck(this);">
                                <label for="purpose">빌려주세요</label>
                            </div>
                        </div>

                        <div class = "price-row" >
                            <div class = "tr_title"> 대여료</div>
                            <div>
                                <input name="deposit" type="text" placeholder="빌려줄/빌릴 대여품목의 사용료를 입력해주세요." required>
                            </div>
                        </div>

                        <div class = "startdate-row" >
                            <div class = "tr_title">시작일</div>
                            <div>
                                <input name="start_date" id="estartDate" type="date" required>
                                <input name="uncertain" type="checkbox" id="euncertain1">
                                <label for="euncertain1">미정</label>
                            </div>
                        </div>

                        <div class ="duedate-row" >
                            <div class = "tr_title">마감일</div>
                            <div>
                                <input name="duedate" id="edueDate" type="date" required>
                                <input name="uncertain" type="checkbox" id="euncertain2">
                                <label for="euncertain2">미정</label>
                            </div>
                        </div>

                        <div class = "description-row">
                            <div class = "description">설명</div>
                            <div>
                                <input name="content" type="text" placeholder="대여 내용과 연락처를 적어주세요." required>
                            </div>
                        </div>

                        <div class = "photo-zone" id ="thumbnail">
                        </div>

                        <div class = "write-row">
                            <div class ="photo-button">
                                <input class="photo" name = "photo[]" id="photo" accept=".jpg, .jpeg, .png" type="file" multiple>
                                <div class = "real-button">
                                    <img class = "img-photo" src="/static/img/photo.png">
                                </div>
                            </div>
                            <div class = "submit-button">
                                <input class = "noname-checkbox" name="noname" type="checkbox" id="noname{{ feed.id }}">
                                <label class = "noname" for="noname{{ feed.id }}">익명</label> 
                                <button class = "write-comment" type="submit">글쓰기</button>
                            </div>
                        </div>
                    </div> 
                </form>
            </div> 

            {% elif category == "keep" %}
            <!-- Keep 게시판 -->
            <div class="keep_board_new every-div">
                <form method="POST" action="{% url 'newfeed' 'life' 'keep' %}">
                    {% csrf_token %}
                    <div id = "keep_table">
                        <div class = "title-row">
                            <input name="title" type="text" placeholder="제목을 입력해주세요." required>
                        </div>

                        <div class = "purpose-row">
                            <div class = "purpose-title">목적</div>
                            <div class = "purpose-select">
                                <input type="checkbox" name="purpose" value="keep" id="purpose" onclick="doOpenCheck(this);" required>                    
                                <label for="purpose">보관할게요</label>
                                <input type="checkbox" name="purpose" value="request" id="purpose" onclick="doOpenCheck(this);">
                                <label for="purpose">보관해줄래요</label>
                            </div>
                        </div>

                    
                        <div class ="price-row" >
                            <div class = "tr_title">보관료</div>
                            <div>
                                <input name="reward" type="text" placeholder="보관할 품목 혹은 보관 해줄시의 사용료를 입력해주세요." required="required">
                            </div>
                        </div>

                        <div class = "startdate-row" >
                            <div class = "tr_title">시작일</div>
                            <div>
                                <input name="start_date" id="estartDate" type="date" required>
                                <input name="uncertain" type="checkbox" id="euncertain1">
                                <label for="euncertain1">미정</label>
                            </div>
                        </div>
                        <div class ="duedate-row">
                            <div class = "tr_title">마감일</div>
                            <div>
                                <input name="duedate" id="edueDate" type="date" required>
                                <input name="uncertain" type="checkbox" id="euncertain2">
                                <label for="euncertain2">미정</label>
                            </div>
                        </div>
                        <div class = "description-row">
                            <div class = "description">설명</div>
                            <div>
                                <input name="content" type="text" placeholder="대여 내용과 연락처를 적어주세요." required>
                            </div>
                        </div>

                        <div class = "photo-zone" id ="thumbnail">
                        </div>

                        <div class = "write-row">
                            <div class ="photo-button">
                                <input class="photo" name = "photo[]" id="photo" accept=".jpg, .jpeg, .png" type="file" multiple>
                                <div class = "real-button">
                                    <img class = "img-photo" src="/static/img/photo.png">
                                </div>
                            </div>
                            <div class = "submit-button">
                                <input class = "noname-checkbox" name="noname" type="checkbox" id="noname{{ feed.id }}">
                                <label class = "noname" for="noname{{ feed.id }}">익명</label> 
                                <button class = "write-comment" type="submit">글쓰기</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            {% elif category == "resell" %}
            <!-- Resell 게시판 -->
            <div class="resell_board_new every-div">
                <form method="POST" enctype="multipart/form-data" action="{% url 'newfeed' 'life' 'resell' %}">
                    {% csrf_token %}
                    <div id = "resell_table" >
                        <div class = "title-row">
                            <input name="title" type="text" placeholder="제목을 입력해주세요." required>
                        </div>

                        <div class = "purpose-row">
                            <div class = "purpose-title">목적</div>
                            <div>
                                <input type="checkbox" name="purpose" value="sell" onclick="doOpenCheck(this);" id="purpose" required>
                                <label for="purpose">판매</label>
                                <input type="checkbox" name="purpose" value="buy" onclick="doOpenCheck(this);" id ="purpose">
                                <label for="purpose">구매</label>
                            </div>
                        </div>

                        <div class = "price-row" >
                            <div class = "tr_title"> 가격</div>
                            <div>
                                <input name="price" type="text" placeholder="중고거래 제품의 가격을 입력하세요. ex) 425600" required>
                            </div>
                        </div> 

                        <div class = "description-row">
                            <div class = "description">설명</div>
                            <div>
                                <input name="content" type="text" placeholder="중고거래 내용을 적어주세요." required>
                            </div>
                        </div>

                        <div class = "photo-zone" id ="thumbnail">
                        </div>

                        <div class = "write-row">
                            <div class ="photo-button">
                                <input class="photo" name = "photo[]" id="photo" accept=".jpg, .jpeg, .png" type="file" multiple>
                                <div class = "real-button">
                                    <img class = "img-photo" src="/static/img/photo.png">
                                </div>
                            </div>
                            <div class = "submit-button">
                                <input class = "noname-checkbox" name="noname" type="checkbox" id="noname{{ feed.id }}">
                                <label class = "noname" for="noname{{ feed.id }}">익명</label> 
                                <button class = "write-comment" type="submit">글쓰기</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>
<script src="{% static 'feedpage/new.js' %}"></script>
{% endblock content %}