{% extends 'base.html' %}
{% block content %}

<div class="info">
    <div style="display:flex; justify-content: space-around">
        <div>{{ board_name }} 게시판 </div>
        <a href="{% url 'showboard' board category %}"><button>전체글</button></a>
        <a href="{% url 'showboard' board category %}"><button>베스트</button></a> 
        <div style="justify-content: right"> 
            <!-- 전체글을 보는 게시판은 글쓰기 불가능하게! -->
            {% if board != "freeboard" and category != "#" %} 
                <a href="{% url 'newfeed' board category %}"><button>글쓰기</button></a>
            {% endif %}
        </div>
    </div> 
    <div style="display:flex; justify-content:space-around">
        <div>제목</div>
        <div>작성자</div> 
        <div>날짜</div> 
        <div>조회수</div> 
        <div>추천수</div> 
    </div> 
    {% for feed in feeds %}
        <a href="{% url 'showfeed' board category feed.id %}">
            <div style="display:flex; justify-content: space-around" >
                <div style="display:flex; flex-direction: column;">
                    <div>{{ feed.title }}  [{{ feed.feedcomment_set.count }}] </div>
                    <div style="color:gray">{{ feed.content }}</div> 
                </div>
                <div> 
                    {% if feed.noname %} 익명 
                    {% else %} {{ feed.author.profile.nickname }}
                    {% endif %}
                </div> 
                <div>
                   {{ feed.created_at|date:"Y.m.d" }} 
                </div> 
                <div> 
                    {{ feed.views }}
                </div>
                <div>
                    {{ feed.like_users.count }} 
                </div>
            </div>
        </a>    
    {% endfor %}
</div>
{% endblock content %}