{% extends 'base.html' %}
{% block content %}

<div class="info">
    {% if board_id == 1 %}
        나는 공구 게시판~~~ ㅎㅅㅎ
        {% for feed in feeds %} 
            <div> 
                제품: {{ feed.product }} </br>
                가격: {{ feed.price }} </br>
                글쓴이: {{ feed.author }} </br> 
            </div> 
        {% endfor %}
        <a href="{% url 'new' 1 %}" type="button"> 새로 만들기 </a>
    {% elif board_id == 2 %}
        나는 대여 게시판 ~~~ 
        {% for feed in feeds %} 
            <div> 
                제품: {{ feed.product }} </br>
                가격: {{ feed.price }} </br>
                글쓴이: {{ feed.author }} </br> 
            </div> 
        {% endfor %}
        <a href="{% url 'new' 2 %}" type="button"> 새로 만들기 </a> 
    {% elif board_id == 3 %}
        나는 보관 게시판 ~~~~
        {% for feed in feeds %} 
            <div> 
                제품: {{ feed.product }} </br>
                가격: {{ feed.price }} </br>
                글쓴이: {{ feed.author }} </br> 
            </div> 
        {% endfor %}
        <a href="{% url 'new' 3 %}" type="button"> 새로 만들기 </a> 
    {% elif board_id == 4 %}
        나는 거래 게시판~~~ ㅎㅅㅎ
        {% for feed in feeds %} 
            <div> 
                {{feed.author_role}}
                제품: {{ feed.product }} </br>
                가격: {{ feed.price }} </br>
                글쓴이: {{ feed.author }} </br>  
            </div> 
        {% endfor %}
        <a href="{% url 'new' 4 %}" type="button"> 새로 만들기 </a> 
    {% endif %}
</div>
{% endblock content %}