{% extends 'base.html' %}
{% block content %}
{% load static%}

<head> 
    <link rel="stylesheet" href="{% static 'feedpage/show.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<div class="info">
    <div class = "title-div">
        {% if search == 'all' or search == 'part' %}
            <div class = "title-text"> '{{ query }}' {{ board_name }} </div> 
        {% else %}
            <div class = "title-text" >{{ board_name }}</div>
            <div id="not_best" > 전체글 </div>
            <div id="best" style="color:#7f7f7f;">베스트</div>

            <!-- 전체글을 보는 게시판은 글쓰기 불가능하게! -->
            {% if user.is_authenticated %}
                {% if board == "freeboard" or board_name != "전체 게시판" %}
                    <div class = "write">
                        <a class = "write-button" href="{% url 'newfeed' board category %}">글쓰기</a>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}   
    </div>

    <div class = "index-div">
        {% if board == 'search' %}
            <div class="i-board">분류</div> 
        {% endif %}
        {% if board == 'search' or board_name == "전체 게시판" and board != "freeboard" %}
            <div class = "i-board">게시판</div>
        {% elif board == 'life' %}
            <div class = "i-board i-status">상태</div> 
        {% endif %}
        <div class = "i-title">제목</div>
        <div class = "i-author">작성자</div> 
        <div class = "i-date">날짜</div> 
        <div class = "i-views">조회수</div> 
        <div class = "i-likes">추천수</div> 
    </div> 

    <div class = "just-content">
        <!-- All 리스트 -->
        <div id="show_normal_lists" >
            {% for feed in posts %}
                <!-- 공지사항 list  -->
                {% if feed.notice is True %}
                    <a href="{% url 'showfeed' feed.board feed.category feed.id %}">
                        <div class = "whole-feed notice" style="background-color: #f9f9f9;">
                            {% if board == "search" %}
                                {% if feed.board == "minwon" %}
                                    <div class = "board_name">민원</div> 
                                {% elif feed.board == "life" %}
                                    <div class = "board_name">생활</div> 
                                {% else %}
                                    <div class = "board_name">자유</div> 
                                {% endif %}
                            {% endif %}
                                
                            {% if %}    
                            {% if board == "search" or board_name == "전체 게시판" and board != "freeboard"%}
                                <div class="board_name"> 
                                    {% if feed.board == 'minwon' %}
                                        <div>{{ feed.board_info1 }}</div> <!-- 공통|학부|대학원|가족|BK -->
                                        <div>{{ feed.board_info2 }}</div>  <!-- 906동 -->
                                    {% elif feed.board == 'life' %}   
                                        <div>{{ feed.board_info2 }}</div>  <!-- 공구|대여|보관|중고 -->
                                    {% endif %}
                                </div>
                            {% endif %}
                            
                            {% if board_name == "공구 게시판" or board_name == "보관 게시판" or board_name == "대여 게시판" or board_name == "중고 게시판" %}
                                <div class = "board_name"></div> 
                            {% endif %}
                            <div class="feed-p notice-p">
                                <div class = "title-comment">
                                    <div class = "title" maxlength="20" text-overflow:ellipsis;> {{feed.title|truncatechars:25}} </div> 
                                        <div class = "comment" > 공지 </div>
                                </div>
                                <div class = "content" style="color:gray" maxlength="30" text-overflow:ellipsis;>
                                    {{ feed.content|truncatechars:30 }}
                                </div> 
                            </div> 

                            <div class = "feed-a"> 
                                {% if feed.noname %} 익명 
                                {% else %} 관리자
                                {% endif %}
                            </div> 

                            <div class = "date">{{ feed.created_at|date:"y.m.d" }}</div> 
                            <div class = "views"></div>
                            <div class = "likes"></div>
  
                        </div>
                    </a> 
                {% endif %}
            {% endfor %}

            <!-- 공지사항 아닌 Feed List -->
            {% for feed in posts %} 
                {% if feed.notice is False %}
                    <div class = "one-feed">
                        <a href="{% url 'showfeed' feed.board feed.category feed.id %}">
                            <div class = "whole-feed">
                                {% if board == "search" %}
                                    {% if feed.board == "minwon" %}
                                        <div class = "board_name">민원</div> 
                                    {% elif feed.board == "life" %}
                                        <div class = "board_name">생활</div> 
                                    {% else %}
                                        <div class = "board_name">자유</div> 
                                    {% endif %}
                                {% endif %}
                                {% if board == "search" or board_name == "전체 게시판" and board != "freeboard" %}
                                    <div class="board_name"> 
                                        {% if feed.board == "minwon" %}
                                            <div>{{ feed.board_info1 }}</div> <!-- 공통|학부|대학원|가족|BK -->
                                            <div>{{ feed.board_info2 }}</div>  <!-- 906동 -->
                                        {% elif feed.board == "life" %}  
                                            <div>{{ feed.board_info2 }}</div>  <!-- 공구|대여|보관|중고 -->
                                            <div class = "life-status">
                                                <div class = "status-text"> {{ feed.status.1 }} </div> <!-- 진행중|판매중|마감 -->   
                                            </div>      
                                        {% endif %}
                                    </div>
                                {% elif board == "life" %} 
                                    <div class = "life-status">
                                        <div class = "status-text"> {{ feed.status.1 }} </div>
                                    </div>       
                                {% endif %}

                                <div class = "feed-p">
                                    <div class = "title-comment">
                                        <div class = "title" maxlength="20" text-overflow:ellipsis;> {{feed.title|truncatechars:25}} </div> 
                                        <div class = "comment" > {{ feed.feedcomment_set.count }} </div>
                                    </div>
                                    <div class = "content" text-overflow:ellipsis; >
                                        {{ feed.content|truncatechars:30 }}
                                    </div> 
                                </div>

                                <div class = "feed-a"> 
                                    {% if feed.noname %} 익명 
                                    {% else %} {{ feed.author.profile.nickname }}
                                    {% endif %}
                                </div> 

                                <div class = "date">{{ feed.created_at|date:"y.m.d" }}</div> 
                                <div class = "views">{{ feed.views }}</div>
                                <div class = "likes">{{ feed.like_users.count }}</div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %} 
            {% if board != 'search' %}
                <div class = "below">
                    {% if search == 'part'%}
                        <div class="search">
                            <form class = "search-form" action="{% url 'searchmore' board category %}" method="get">
                                <div class = "search-text">
                                    <select class="search-option" name="select-option2" style = "color: #7f7f7f;">
                                        <option value="title">제목</option>
                                        {% if option == "content" %}
                                            <option value="content" selected="selected">내용</option>
                                        {% else %}
                                            <option value="content">내용</option>
                                        {% endif %}
                                        {% if option == "title-and-content" %}
                                            <option value="title-and-content" selected="selected">제목+내용</option>
                                        {% else %}
                                            <option value="title-and-content">제목+내용</option>
                                        {% endif %}
                                    </select>
                                    <input type="text" name="query2" class = "search-text" size ="30" value={{query}} placeholder = "검색어를 입력하세요.">
                                </div>
                            </form>
                        </div>
                    {% else %}
                        <div class="search">
                            <form class = "search-form" action="{% url 'searchmore' board category %}" method="get">
                                <div class = "search-text">
                                    <select class="search-option" name="select-option2" style = "color: #7f7f7f;">
                                        <option value="title">제목</option>
                                        <option value="content">내용</option>
                                        <option value="title-and-content">제목+내용</option>
                                    </select>
                                    <input type="text" name="query2" class = "search-text" size ="30" placeholder = "검색어를 입력하세요.">
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    {% if not search %}
                        <!-- 전체글을 보는 게시판은 글쓰기 불가능하게! -->
                        {% if user.is_authenticated %}
                            {% if board == "freeboard" or board_name != "전체 게시판" %}
                                <div class = "write2">
                                    <a class = "write-button" href="{% url 'newfeed' board category %}">글쓰기</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %} 
                </div>
            {% endif %}

            <div class="page_numbers" >
                {% if posts.has_previous %}
                    <div class = "previous">
                        {% if search == 'all' %}
                            <a href="?page={{posts.previous_page_number}}&select-option={{option}}&query={{query}}"> 이전 </a>
                        {% elif search == 'part' %}
                            <a href="?page={{posts.previous_page_number}}&select-option2={{option}}&query2={{query}}"> 이전 </a>
                        {% else %}
                            <a href="?page={{posts.previous_page_number}}"> 이전 </a>
                        {% endif%}
                    </div> 
                {% endif %}
                {% for num in paginator_range %} 
                    {% if posts.number == num %}
                        <div class = "num1" >{{ num }}</div> 
                    {% else %}
                        {% if search == 'all' %}
                            <a href="?page={{num}}&select-option={{option}}&query={{query}}">
                                <div class = "num2" >{{ num }}</div>
                            </a>
                        {% elif search == 'part' %}
                            <a href="?page={{num}}&select-option2={{option}}&query2={{query}}">
                                <div class = "num2" >{{ num }}</div>
                            </a>
                        {% else %}
                            <a href="?page={{num}}">
                                <div class = "num2" >{{ num }}</div>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                    <div class = "next">
                        {% if search == 'all' %}
                            <a href="?page={{posts.next_page_number}}&select-option={{option}}&query={{query}}"> 다음</a> 
                        {% elif search == 'part' %}
                            <a href="?page={{posts.next_page_number}}&select-option2={{option}}&query2={{query}}"> 다음</a> 
                        {% else %}
                            <a href="?page={{posts.next_page_number}}"> 다음</a> 
                        {% endif %}
                    </div>
                {% endif %}
            </div> 
        </div>

        <!-- 베스트 게시판 글 리스트: 베스트 버튼 -->
        <div id="show_best_lists"> 
            {% for feed in best_posts %}  
            <!-- 공지사항 list  -->
                {% if feed.notice is True %}
                    <a href="{% url 'showfeed' feed.board feed.category feed.id %}">
                        <div class = "whole-feed notice" style="background-color: #f9f9f9;">
                            {% if board == "search" %}
                                {% if feed.board == "minwon" %}
                                    <div class = "board_name">민원</div> 
                                {% elif feed.board == "life" %}
                                    <div class = "board_name">생활</div> 
                                {% else %}
                                    <div class = "board_name">자유</div> 
                                {% endif %}
                            {% endif %}
                                
                            {% if board == "search" or board_name == "전체 게시판" and board != "freeboard"%}
                                <div class="board_name"> 
                                    {% if feed.board == 'minwon' %}
                                        <div>{{ feed.board_info1 }}</div> <!-- 공통|학부|대학원|가족|BK -->
                                        <div>{{ feed.board_info2 }}</div>  <!-- 906동 -->
                                    {% elif feed.board == 'life' %}  
                                        <div>{{ feed.board_info2 }}</div>  <!-- 공구|대여|보관|중고 -->
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if board_name == "공구 게시판" or board_name == "보관 게시판" or board_name == "대여 게시판" or board_name == "중고 게시판" %}
                                <div class = "board_name"></div> 
                            {% endif %}

                            <div class="feed-p notice-p">
                                <div class = "title-comment">
                                    <div class = "title" maxlength="20" text-overflow:ellipsis;> {{feed.title|truncatechars:25}} </div> 
                                        <div class = "comment" > 공지 </div>
                                </div>
                                <div class = "content" style="color:gray" maxlength="30" text-overflow:ellipsis;>
                                    {{ feed.content|truncatechars:30 }}
                                </div> 
                            </div> 

                            <div class = "feed-a"> 
                                    {% if feed.noname %} 익명 
                                    {% else %} 관리자
                                    {% endif %}
                            </div> 

                            <div class = "date">{{ feed.created_at|date:"y.m.d" }}</div> 
                            <div class = "views"></div>
                            <div class = "likes"></div>
  
                        </div>
                    </a> 
                {% endif %}
            {% endfor %}

            <!-- 공지사항 아닌 Feed List -->
            {% for feed in best_posts %} 
                {% if feed.notice is False %}
                    <div class = "one-feed">
                        <a href="{% url 'showfeed' board category feed.id %}">
                            <div class = "whole-feed" id="whole-feed">
                                <!-- 게시판 항목 이름 -->
                                {% if board == "search" or board_name == "전체 게시판" and board != "freeboard" %}
                                    <div class="board_name" style="display:flex; flex-direction:column;"> 
                                        {% if feed.board == "minwon" %}
                                            <div>{{ feed.board_info1 }}</div> <!-- 공통|학부|대학원|가족|BK -->
                                            <div>{{ feed.board_info2 }}</div>  <!-- 906동 -->
                                        {% elif feed.board == 'life' %}  
                                            <div>{{ feed.board_info2 }}</div>  <!-- 공구|대여|보관|중고 -->
                                            <div class = "life-status"  id = "life-status" >
                                                <div class = "status-text" id = "status-text"> {{ feed.status.1 }} </div> <!-- 진행중|판매중|마감 -->   
                                            </div>        
                                        {% endif %}
                                    </div>
                                {% elif board == "life" %} 
                                    <div class = "life-status" id = "life-status">
                                        <div class = "status-text" id = "status-text"> {{ feed.status.1 }} </div>
                                    </div>       
                                {% endif %}

                                <div class = "feed-p">
                                    <div class = "title-comment">
                                        <div maxlength="20" text-overflow:ellipsis;> {{ feed.title|truncatechars:25 }} </div> 
                                        <div class = "comment" id = "comment"> {{ feed.feedcomment_set.count }} </div>
                                    </div>
                                    <div class = "content" text-overflow:ellipsis;>
                                        {{ feed.content|truncatechars:30 }}
                                    </div> 
                                </div>

                                <div class = "feed-a"> 
                                    {% if feed.noname %} 익명 
                                    {% else %} {{ feed.author.profile.nickname }}
                                    {% endif %}
                                </div> 

                                <div class = "date">{{ feed.created_at|date:"y.m.d" }}</div> 
                                <div class = "views">{{ feed.views }}</div>
                                <div class = "likes">{{ feed.like_users.count }}</div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            {% if board != 'search' %}
            <div class = "below">
                {% if search == 'part'%}
                    <div class="search">
                        <form class = "search-form" action="{% url 'searchmore' board category %}" method="get">
                            <div class = "search-text">
                                <select class="search-option" name="select-option2" style = "color: #7f7f7f;">
                                    <option value="title">제목</option>
                                    {% if option == "content" %}
                                        <option value="content" selected="selected">내용</option>
                                    {% else %}
                                        <option value="content">내용</option>
                                    {% endif %}
                                    {% if option == "title-and-content" %}
                                        <option value="title-and-content" selected="selected">제목+내용</option>
                                    {% else %}
                                        <option value="title-and-content">제목+내용</option>
                                    {% endif %}
                                </select>
                                <input type="text" name="query2" class = "search-text" size ="30" value={{query}} placeholder = "검색어를 입력하세요.">
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="search">
                        <form class = "search-form" action="{% url 'searchmore' board category %}" method="get">
                            <div class = "search-text">
                                <select class="search-option" name="select-option2" style = "color: #7f7f7f;">
                                    <option value="title">제목</option>
                                    <option value="content">내용</option>
                                    <option value="title-and-content">제목+내용</option>
                                </select>
                                <input type="text" name="query2" class = "search-text" size ="30" placeholder = "검색어를 입력하세요.">
                            </div>
                        </form>
                    </div>
                {% endif %}
                {% if search != 'all' and search != 'part' %}
                    <!-- 전체글을 보는 게시판은 글쓰기 불가능하게! -->
                    {% if user.is_authenticated %}
                        {% if board == "freeboard" or board_name != "전체 게시판" %}
                            <div class = "write2">
                                <a class = "write-button" href="{% url 'newfeed' board category %}">글쓰기</a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %} 
            </div>
            {% endif %}

            <div class="page_numbers">
                {% if best_posts.has_previous %}
                    <div class = "previous">
                        <a href="?best_page={{best_posts.previous_page_number}}">이전</a> 
                    </div>
                {% endif %}
                {% for num in paginator_range2 %} 
                    {% if best_posts.number == num %}
                        <div class = "num3">{{ num }}</div> 
                    {% else %}
                        <a href="?best_page={{num}}">
                            <div class = "num4">{{ num }}</div>
                        </a>
                    {% endif %}
                {% endfor %}
                {% if best_posts.has_next %}
                    <div class ="next">
                        <a href="?best_page={{best_posts.next_page_number}}"> 다음</a>
                    </div>
                {% endif %}
            </div> 
        </div>
    </div>
</div>
    <script src="{% static 'feedpage/show.js' %}"></script>
{% endblock content %}