html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

a:link, a:visited, a:hover, a:active {
  color: black; }

button {
  padding: 0;
  margin: 0;
  border: none;
  outline-style: none; }

input {
  padding: 0;
  margin: 0;
  outline-style: none; }

select {
  outline-style: none; }

.form {
  margin: 100px auto;
  width: 400px;
  height: 1000px; }
  .form .logo {
    width: 300px;
    margin: 0 auto 100px auto; }
    .form .logo img {
      max-width: 100%; }
  .form .input {
    margin-top: 20px; }
    .form .input .id-pw {
      display: flex;
      flex-direction: column;
      color: #7f7f7f; }
      .form .input .id-pw .id {
        width: 400px;
        height: 50px;
        padding-left: 20px;
        border: 1px solid #b9b9b9;
        border-radius: 7px 7px 0 0;
        font-weight: bold; }
      .form .input .id-pw .pw {
        width: 400px;
        height: 50px;
        padding-left: 20px;
        margin-top: -1px;
        border: 1px solid #b9b9b9;
        border-radius: 0 0 7px 7px;
        font-weight: bold; }
    .form .input .id-pw:hover, .form .input .id-pw:focus {
      box-shadow: 0 0 7px 0 #bfbfbf;
      border-radius: 7px; }
    .form .input button {
      margin-top: 40px;
      color: #7f7f7f;
      background-color: #d6d6d6;
      border-radius: 5px;
      width: 400px;
      height: 50px;
      cursor: pointer;
      font-weight: bold; }
    .form .input button:hover {
      background-color: #cecece;
      box-shadow: 0 2px 5px #bfbfbf; }
  .form .error {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: red;
    height: 16px; }
  .form .social {
    width: 400px; }
    .form .social .naver {
      position: relative; }
      .form .social .naver img {
        max-width: 400px; }
      .form .social .naver span {
        position: absolute;
        color: #ffffff;
        font-weight: bold;
        top: 40%;
        left: 33%; }
    .form .social .google {
      position: relative;
      margin-top: 10px; }
      .form .social .google img {
        max-width: 400px; }
      .form .social .google span {
        position: absolute;
        color: #ffffff;
        font-weight: bold;
        top: 40%;
        left: 33%; }
  .form .find-signup {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-weight: bold; }
    .form .find-signup .find {
      margin-right: 20px; }
    .form .find-signup .find:hover {
      color: #5d5d5d; }
    .form .find-signup .signup {
      color: #016aff; }
    .form .find-signup .signup:hover {
      color: #3f91fe; }

/*# sourceMappingURL=login.css.map */