html {
  background-color: #e9e9e9; }

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

.form {
  background-color: #ececec;
  display: flex;
  width: 910px;
  margin: 50px auto 0 auto; }
  .form .nav {
    width: 300px;
    font-weight: bold;
    margin-right: 10px;
    line-height: 60px; }
    .form .nav .nav-title {
      margin-bottom: 10px;
      height: 60px;
      background-color: #ffffff;
      border: 2px solid #b9b9b9;
      padding-left: 30px; }
      .form .nav .nav-title span {
        display: inline-block;
        font-size: 20px; }
    .form .nav .nav-list {
      height: 60px;
      background-color: #ffffff;
      padding-left: 30px; }
      .form .nav .nav-list a {
        display: inline-block;
        width: 270px;
        height: 60px; }
      .form .nav .nav-list a:hover {
        color: #016aff; }
    .form .nav .nav-list:hover {
      background-color: #d3e6fe;
      cursor: pointer; }
  .form .info {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 600px;
    font-weight: bold;
    border: 2px solid #b9b9b9; }
    .form .info .title {
      width: 596px;
      height: 60px;
      font-size: 20px;
      border-bottom: 2px solid #000000;
      padding-left: 30px;
      line-height: 60px; }
    .form .info .container {
      margin: 30px 0; }
      .form .info .container .name, .form .info .container .id, .form .info .container .nickname, .form .info .container .email, .form .info .container .building, .form .info .container .password {
        display: flex;
        height: 60px;
        font-size: 18px;
        line-height: 60px; }
        .form .info .container .name .field, .form .info .container .id .field, .form .info .container .nickname .field, .form .info .container .email .field, .form .info .container .building .field, .form .info .container .password .field {
          width: 150px;
          padding-left: 30px; }
        .form .info .container .name .value, .form .info .container .id .value, .form .info .container .nickname .value, .form .info .container .email .value, .form .info .container .building .value, .form .info .container .password .value {
          width: 400px;
          color: #7f7f7f; }
          .form .info .container .name .value .input-box, .form .info .container .id .value .input-box, .form .info .container .nickname .value .input-box, .form .info .container .email .value .input-box, .form .info .container .building .value .input-box, .form .info .container .password .value .input-box {
            font-size: 18px;
            font-weight: bold;
            border-style: none none solid none;
            border-color: #b9b9b9;
            color: #7f7f7f;
            height: 50px;
            line-height: 50px; }
          .form .info .container .name .value .input-box::placeholder, .form .info .container .id .value .input-box::placeholder, .form .info .container .nickname .value .input-box::placeholder, .form .info .container .email .value .input-box::placeholder, .form .info .container .building .value .input-box::placeholder, .form .info .container .password .value .input-box::placeholder {
            font-weight: bold;
            color: #7f7f7f; }
          .form .info .container .name .value #no::placeholder, .form .info .container .id .value #no::placeholder, .form .info .container .nickname .value #no::placeholder, .form .info .container .email .value #no::placeholder, .form .info .container .building .value #no::placeholder, .form .info .container .password .value #no::placeholder {
            color: #7f7f7f !important; }
        .form .info .container .name #building-item, .form .info .container .id #building-item, .form .info .container .nickname #building-item, .form .info .container .email #building-item, .form .info .container .building #building-item, .form .info .container .password #building-item {
          display: flex;
          align-items: center; }
          .form .info .container .name #building-item #category, .form .info .container .id #building-item #category, .form .info .container .nickname #building-item #category, .form .info .container .email #building-item #category, .form .info .container .building #building-item #category, .form .info .container .password #building-item #category {
            width: 170px;
            margin-right: 20px;
            margin-bottom: -2px; }
          .form .info .container .name #building-item #dong, .form .info .container .id #building-item #dong, .form .info .container .nickname #building-item #dong, .form .info .container .email #building-item #dong, .form .info .container .building #building-item #dong, .form .info .container .password #building-item #dong {
            width: 170px;
            margin-bottom: -2px; }
        .form .info .container .name .pw-field, .form .info .container .id .pw-field, .form .info .container .nickname .pw-field, .form .info .container .email .pw-field, .form .info .container .building .pw-field, .form .info .container .password .pw-field {
          width: 250px;
          padding-left: 30px; }
        .form .info .container .name .pw-value, .form .info .container .id .pw-value, .form .info .container .nickname .pw-value, .form .info .container .email .pw-value, .form .info .container .building .pw-value, .form .info .container .password .pw-value {
          width: 350px; }
          .form .info .container .name .pw-value .pw-input, .form .info .container .id .pw-value .pw-input, .form .info .container .nickname .pw-value .pw-input, .form .info .container .email .pw-value .pw-input, .form .info .container .building .pw-value .pw-input, .form .info .container .password .pw-value .pw-input {
            border-style: none none solid none;
            border-color: #b9b9b9;
            height: 30px;
            line-height: 30px; }
    .form .info .edit button {
      width: 600px;
      background-color: #016aff;
      margin-bottom: -2px;
      margin-left: -2px;
      height: 60px;
      color: #ffffff;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer; }
  .form #pw-info {
    height: 360px; }

/*# sourceMappingURL=mypage.css.map */