@charset "utf-8";
@import "variable.scss";
// TODO:
// 1) 기숙사/동 클릭시 글자 색상이 검은색이 되도록


// base.html과 별개로 적용되는 css

// 공통 값 적용
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
 }

body {
	line-height: 1;
}

a {
   text-decoration: none;
}

input, button {
	outline-style: none;
}

// input 태그 focus 시 글자 사라지도록
input:focus::-webkit-input-placeholder {
    color: transparent;
}


// 전체 구조
.form {
    width: 500px;
    margin: 100px auto;
    height: 1100px;
   
    // 로고 및 headline
    .headline {
        font-size: 20px;
        font-weight: bold;
        
        a {
            display: flex;
            align-items: flex-end;
        }
        img {
            width: 30px;
        }
        span {
            color: $yellow_main;
        }
    }

    // 각 입력 section
    .input-section {
        display: inline-block;
        width: 500px;
        margin-top: 30px;

        // head
        .head {
            display: inline-block;
            width: 400px;
            font-weight: bold;
            font-size: 16px;
        }
        
        // section description
        .description { 
            display: inline-block;
            width: 400px;
            font-size: 12px;
            color: $gray_text;
            font-weight: bold;
            margin-top: 15px;
        }

        // 항목별 input
        .input-value {
            height: 50px;
            border: 2px solid $gray_border;
            border-radius: 7px;
            padding-left: 20px;
            font-weight: bold;
            font-size: 14px;
            margin-top: 15px;
        }

        // 이메일을 제외한 input
        .input-value.long {
            width: 400px;
        }

        // 이메일 input
        .input-value.short {
            width: 240px;
        }

        .input-value:hover, .input-value:focus {
            box-shadow: $gray_shadow;
        }

        .input-value::placeholder {
            color: $gray_border;
            font-weight: bold;
            font-size: 14px;
        }

        // input box와 중복확인 버튼 높이 조정
        .with-button {
            display: flex;
            justify-content: space-between;

            // 중복확인 버튼
            .id-check, .nk-check {
                width: 90px;
                height: 50px;
                border-radius: 30px;
                background-color: $gray_button;
                color: #ffffff;
                cursor: pointer;
                font-weight: bold;
                font-size: 14px;
                margin-top: 15px;
                border: none;
            }

            .id-check:hover, .nk-check:hover {
                background-color: $gray_hover;
                box-shadow: $gray_under_shadow;
            }

            // 사용가능 div
            #id-confirm, #nk-confirm {
                display: none;
                position: relative;
                width: 90px;
                height: 50px;
                border-radius: 30px;
                background-color: $blue_text;
                color: #ffffff;
                font-weight: bold;
                margin-top: 15px;
                border: none;
                
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    white-space: nowrap;
                    font-size: 14px;
                }
            }
        }

        // @ snu.ac.kr
        .snumail {
            font-weight: bold;
        }
    }
   
    
    // 기숙사 생활관 및 동 선택
    .building {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        span {
            width: 500px !important;
        }

        // 생활관 input box의 우측 마진 설정
        .building-category {
            margin-right: 20px;
        }

        // 선택되지 않은 동 옵션 숨기기
        .remove {
            display: none !important;
        }

        // 생활관 분류 및 동 분류 dropdown
        .building-category, .building-default, .building-bachelor,
        .building-master, .building-family, .building-bk {
            display: flex;
            width: 240px;
            flex-direction: column;
            margin-top: 15px;
            position: relative;
                
            // '생활관을 선택하세요.' 옵션 선택 불가
            .default-container {
                position: absolute !important;
                z-index: -1 !important;
            }
            
            // 생활관 및 동의 옵션을 갖는 container
            .dropdown-container {
                border: 2px solid $gray_border;
                max-height: 0;
                width: 100%;
                opacity: 0;
                transition: all 0.4s;
                border-radius: 7px;
                overflow: hidden;
                order: 1;
                position: absolute;
                top: 50px;
                z-index: 3;
                margin-top: -2px;
                background-color: #ffffff;
            }

            // dropdown 작동
            .dropdown-container.active {
                max-height: 162px;
                opacity: 1;
                overflow-y: scroll;
            }

            // 화살표 역전
            .dropdown-container.active + .selected-common::after {
                transform: rotateX(180deg);
                top: -6px;
            }

            // option 스크롤바
            .dropdown-container::-webkit-scrollbar {
                width: 8px;
                border-radius: 0 3px 3px 0;
                background-color: #ffffff;
                visibility: hidden;
            }
            
            // option 스크롤
            .dropdown-container::-webkit-scrollbar-thumb {
                background-color: $gray_border;
                border-radius: 3px;
            }

            // 선택된 옵션 표시
            .selected-common {
                color: $gray_border;
                padding: 12px 20px;
                cursor: pointer;
                border: 2px solid $gray_border;
                border-radius: 7px;
                margin-bottom: -2px;
                position: relative;
                order: 0;
                height: 50px;
                line-height: 22px;
                font-weight: bold;
                font-size: 14px;
            }

            // dropdown 화살표
            .selected-common::after {
                content: "";
                background: url("../img/arrow-down.png");
                background-size: contain;
                background-repeat: no-repeat;
                
                position: absolute;
                height: 100%;
                width: 32px;
                right: 18px;
                top: 5px;
                
                transition: all 0.4s;
            }
            
            // 옵션 설정
            .dropdown-option {
                height: 50px;
                padding: 12px 20px;
                cursor: pointer;
                background-color: #ffffff;
                display: flex;
                align-items: center;
                font-weight: bold;
                color: $gray_border;
                
                // input type = "radio"
                .radio {
                    display:none;
                }
            }

            .dropdown-option:hover {
                color: $blue_text;
            }
            
            // input type = "radio"와 연결
            label {
                display: inline-block;
                width: 100%;
                cursor: pointer;
            }
        }

        // 회원가입 input type = "button"
        .signup {
            position: absolute;
            top: 150px;
            width: 500px;
            height: 70px;
            background-color: $yellow_main;
            color: #ffffff;
            font-weight: bold;
            border-radius: 7px;
            cursor: pointer;
            border: none;
            font-size: 16px;
        }
    
        .signup.z {
            z-index: -1;
        }
    }       
}





