@charset "utf-8";

// 변수: 메인 컬러
$yellow_main: #ffca00;
$gray_border: #b9b9b9;
$gray_text: #7f7f7f;
$gray_background: #ececec;
$blue_text: #016aff;
$blue_hover: #3f91fe;
$blue_background: #d3e6fe;
$gray_shadow: 0 0 7px 0 #bfbfbf;
$gray_under_shadow:  0 2px 5px #bfbfbf;
$gray_hover: #cecece;
$gray_text_hover: #5d5d5d;
$gray_button: #d6d6d6;