.main_message {
    display: flex;
    width: 70%;
    height: 600px;
    margin: auto;


    

    

}

.left-side, .right-side {
    align-items: stretch;

    
}

.left-side {
    width: 40%;
}

.right-side {
    width: 60%;
}

.msg_main {
    text-align: center;
    border-bottom: solid 1px lightgray;
    height: 10%;
  
}

.text{
    font-size: large;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;

}

.message_lists {
    height: 90%;
}

.message {
    
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}



.dates {
    font-size: smaller;
}

.border_needed {
    border: solid 1px lightgray;
    border-collapse: collapse;

}



.nickname {
    color: black;
}

.contents {
    color: gray;

}

.dates {
    color: lightgray;
}

/* 이곳부터는 chatroom.html을 위한 css 입니다. */
.sender_id{
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.friendname {
    font-size: large;
}

.chat_date{
    font-size: x-small;
    color: gray;
}
.send{
    text-align: left ;
    height: 10%;
    display: flex;
    justify-content: space-around;
    border-bottom: solid 0.7px lightgray;
    align-items: center;

}

.recieve {
    text-align: right ;
    justify-content: space-around;
    height: 10%;
    display: flex;
    border-bottom: solid 0.7px lightgray;
    align-items: center;

}

.sending {
    height: 15%;


}

.typing {
    display: flex;
    justify-content: space-between;
}

.chatroom {
    height: 70%;
   
}

.send .chat_con {
    color: #008cff;
}
 
.sendbox {
    border: none;
}
